#sift{
    display:flex;
    justify-content:space-between;
    background:#F8F8F8;
    height:1.12rem;
}
.sift_l{
    height:1.12rem;
}
.sift_l span{
    line-height:1.12rem;
    font-size:0.293333rem;
    margin-left:0.426667rem;
}
.sift_r span{
    line-height:1.12rem;
    font-size:0.293333rem;
    margin-right:0.96rem;
}